<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343010913477-975k3jgs8lir26201joe1genkjg3vkju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343010913477-975k3jgs8lir26201joe1genkjg3vkju</string>
	<key>API_KEY</key>
	<string>AIzaSyCBNQdTO0Pm_70sBa5pZOP5GuZZhLQIczU</string>
	<key>GCM_SENDER_ID</key>
	<string>343010913477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.grouu.mobile.dev</string>
	<key>PROJECT_ID</key>
	<string>grouu-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>grouu-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343010913477:ios:8d60ad4b412f9783d194ac</string>
</dict>
</plist>